<div>
  <div class="catalog-newbook">
    <label>Title
      <input [(ngModel)]="newBook.title"
             placeholder="Title">
    </label>
    <label>Author
      <input [(ngModel)]="newBook.author"
             placeholder="Author">
    </label>
    <button (click)="addBook(newBook)">Add new book</button>
  </div>


  <div class="catalog-book">
    <div>{{newBook.title}}</div>
    <div>{{newBook.author}}</div>
  </div>

  <div class="catalog-books-container">
    <div class="catalog-books-list">
      <div [class.selected-book]="book === selectedBook"
           routerLink="/catalog/{{book.isbn}}"
           class="catalog-book"
           *ngFor="let book of catalog.books">
        <div>{{book.title}}</div>
        <div>{{book.author}}</div>
        <div *ngIf="book.available">Available</div>
        <div *ngIf="!book.available">Not Available</div>
        <button>Add to my list</button>
        <button>Hold</button>
      </div>
    </div>

    <div class="catalog-book-details">
      <app-details [book]="selectedBook"></app-details>
    </div>
  </div>
</div>