.catalog-books-container {
  display: flex;
  flex-flow: row;
  width: 90%
}

.catalog-books-list {
  flex-basis: 50%;
  margin-right: 10px;
}

.catalog-book-details {
  margin-left: 10px;
  flex-basis: 50%;
}

.catalog-book {
  background-color: floralwhite;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  margin-bottom: 10px;
  margin-top: 10px;
  padding-bottom: 5px;
}

.catalog-newbook {
  margin: 10px;
}

.selected-book {
  background-color: bisque;
}