.catalog-book {
  background-color: floralwhite;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  margin-bottom: 10px;
  margin-top: 10px;
  padding-bottom: 5px;
}

.catalog-newbook {
  margin: 10px;
}

.selected-book {
  background-color: bisque;
}